*
{
    margin: 0;
    padding: 0;
}
.head
{
    width: 1000px;
    height: 800px;
}
.head1
{
    margin-left: 280px;
    background-image:url(orqa\ fon.png);
    width: 800px;
    height: 200px;
     
}
.item
{
    height: 240px;
    width: 200px;
    background-color: rgb(64, 64, 175);
    margin-left: 20px;
    margin-top: 1px;
    border: none;
    border-radius: 20px 20px 25px 25px;
}
.small
{
   height:30px ;
   border: none;
   background-color: rgba(255, 255, 0, 0.842) ;
   

}
.small div{
    border: none;
}
.ox
{
 height: 30px;
 border: none;
 text-align: center;
font-size: 12px;
font-weight: 500px;
color: whitesmoke;

  
}
.center
{
   margin-top: 7px;
    font-size: 12px;
    text-align: center;
    font-weight: 700;
    color: whitesmoke;
}
.ox p:hover
{
text-align: center;
margin-top: 7px;
color: rgb(255, 0, 0);
}
.head2
{
display: flex; 
margin-left: 350px;
margin-top: 40px;
}
.first
{
    border-radius: 20px 20px 20px 20px;
    background-color: cornsilk;
    margin-left: 8px;
    width: 200px;
    height:70px ; 
}
input
{
    text-align: center;
    position: relative;
    border-radius: 5px 5px 5px 5px;
    
    
}
.icon
{
margin-top: 10px;    
}
.icon1
{
margin-top: 10px;
  
}
.icon1 input
{
width: 120px;
margin-right: 40px;    
}
.icon3
{
 margin-top: 25px; 
 margin-left: 10px;  
}
.icon3 
{
 border-radius: 7px 7px 7px 7px;
}
.icon3 ::placeholder:hover
{
color:black;    
}
.support
{
margin-left: 70px;
margin-top: 10px;    
}
button
{
    border-radius: 10px 10px 10px 10px;
    margin-left: 70px;
    margin-top: 5px;
    width: 110px;
    height: 17px;
}
.head3
{
    height: 430px;
    width: 800px;
    border: none;
    background-color: white;
    margin-left: 280px;
    margin-top: 8px;
    display: flex; 
}
.innum1
{
    border: none;
    background-color: white;
    width: 200px;
    height: 200px;
    margin-left: 8px;
    margin-top: 8px;
}
.innum2
{
    border: none;
    background-color: white;
    width: 200px;
    height: 200px;
    margin-left: 8px;
    margin-top: 8px;
}
.num2
{
    border:none;
    width: 580px;
    height: 400px;
    margin-top: 8px;
    padding-bottom: 12px;
    margin-left: 5px ;
    margin-right: 5px;
}
.a
{
border: none;    
height: 20px;

}
.a p
{
font-size: 10px;
text-align: center; 
margin-top: 5px; 
font-weight: 900; 
margin-right: 40px; 
}
.b
{
height: 30px;
margin-top: 4px;   
}
.c
{
    margin-left: 20px;
    font-size:8px ;
    margin-top: 15px;
}
.aa
{
    height: 20px;
}
.aa h3
{
    margin-left: 7px;
    margin-top: 7px;
    color: chartreuse;
}
.head4
{
    height: 300px;

}
.bb
{
    border: none;
    height: 230px;
    display: flex;
}
.man
{
border: none;
width: 300px; 
height: 200px;
display: fixed;
}
.man1
{
border:none;
width: 130px;
height: 226px;
float: left;
}
.man2
{
border:none;
width: 140px;
height: 226px;
float: left;
}
.man2 input{
    width: 110px;
    margin-top: 17px;
}
.man3
{
border: none;
width: 300px; 
height: 200px;
display: fixed;
}
.man31
{
border: none;
width: 130px;
height: 226px;
float: left;
}
.man32
{
border: none;
width: 145px;
height: 226px;
float: left;
}
.man32 input{
    width: 110px;
    margin-top: 17px;
}
.bottom
{
    border: none;
    height: 100px;
    margin-top: 5px;
    background-color: blanchedalmond;
}
.bottom1
{
  margin-left: 100px;  
}
.y
{
    margin-left: 220px;
    width: 80px;
    background-image: linear-gradient(to left,red 80%,blue 90%)
}
.z
{
    margin-left: 90px;
    width: 80px;
    background-image: linear-gradient(to left,red  80%,blue 90%)
}
.first input
{
 width: 130px;   
}
body
{
background-color: cyan;
}
.b p
{
color: yellow;
}
.a p
{
    color: red;
}
.c
{
    color:blueviolet;
}
.support:hover
{
    color: red;
    background-image: linear-gradient(rgb(197, 121, 121),yellow);
}
iframe
{
    color:red;
}